input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}